/* stats colors */
.steps{
    href:"images/stat_steps_solid_48px.png";
    fill:#FF0000;
}
.calories{
    href:"images/stat_cals_solid_48px.png";
    fill:#FF8000;
}
.activesminutes{
    href:"images/stat_azm_solid_48px.png";
    fill:green;
}
.distance{
    href:"images/stat_dist_solid_48px.png";
    fill:blue;
}
.elevation{
    href:"images/stat_floors_solid_48px.png";
    fill:#FF0080;
}
.goalreached{
    fill: gold;
}