#clock-container {
  y: 60;
}
.stats-container svg{
  height: 50;
  width: 50;
}
.stats-steps-container{
  x:5;
}
.stats-floors-container{
  x:65;
}
.stats-cals-container{
  x:50%-25;
}
.stats-am-container{
  x:185;
}
.stats-dist-container{
  x:245;
}